.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;

  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 48px;
}

.time {
  min-width: 65px;
  font-weight: 500;
}

.second {
  min-width: 65px;
  font-weight: 700;
}

.milli {
  min-width: 77px;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.button-wrapper > button {
  width: 180px;
  height: 40px;
  margin-bottom: 15px;

  border-radius: 30px;
  border: none;

  font-family: Pretendard-Regular;
  font-size: 16px;

  cursor: pointer;
}

.button-wrapper > .button_delay {
  background-color: #fff695;
  color: #908527;
}

.delay-wrapper {
  display: flex;
  justify-content: center;
  max-height: 300px;
}

.delay-list {
  width: 210px;
  overflow-y: auto;
  padding-left: 0;
}

.delay-list::-webkit-scrollbar {
  width: 5px;
}

.delay-list::-webkit-scrollbar-thumb {
  background: #b0b0b0;
}

.delay-list > li {
  list-style-type: none;
}
